.mainProfile {
    display: flex;
    width: 90%;
    margin: 2rem auto;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .container {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  
  .container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;
  }
  
  .container ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    gap: 1rem;
  }
  
  li {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem 8rem;
    margin: 0.5rem 0;
  }