.logo {
  width: 60px;
}

.logoSection {
  display: flex;
  column-gap: 1rem;
}

hr {
  width: 95%;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navLinks {
  display: flex;
  column-gap: 1rem;
  padding-top: 1.5rem;
  padding-right: 2.5rem;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
  color: aqua;
}
