
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  gap: 30px;
}

.myMissions {
  flex: 1;
}

.myRockets {
  flex: 1;
}

.profileCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  border: solid 1px #999;
  width: 90%;
  height: 50px;
  font-weight: bold;
}

.cardsContainer {
  border: 1px solid grey;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.cardsContainer  {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1rem 8rem;
  margin: 0.5rem 0;
}

.cardsContainer li {
  display: table-row;
}
