.container {
  border: solid rgb(105, 101, 101) 1px;
}

.profileContainer {
  display: flex;
  gap: 3rem;
  border: solid rgb(166, 166, 168) 1px;
}

.myMissions {
  display: flex;
  flex-direction: column;
}

.cardsContainer {
  display: grid; /* use grid layout */
  grid-template-columns: repeat(2, 1fr); /* display in two columns */
  gap: 1rem;
}

.cardsContainer ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.cardsContainer li {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 2rem; /* decrease padding to fit in two columns */
  margin: 0.5rem 0;
}
